.font-M {
  font-family: 'Merriweather', serif;
}

.about-right {
  background-color: #BC725D;
  color: #F5EEED !important;
  padding-left: 50px;
}

.about-right .about-us-title strong {
  display: inline-block;
  position: relative;
}

.about-right .about-us-title strong:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid white;
  top: 15px;
  margin-left: 20px;
  width: 400px;
  left: 100%;
}

#about-us .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.navbar .navbar-brand h1 {
  font-size: 33px;
}

.navbar .site-title {
  font-family: "Questrial", sans-serif;
}

.navbar.bg-dark {
  background-color: rgba(0, 0, 0, 0.08) !important;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.navbar.bg-dark.affix {
  background-color: #343a40  !important;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  padding-bottom: 5px;
}

.navbar.navbar-dark.affix {
  -webkit-box-shadow: 0px 1px 5px #555;
          box-shadow: 0px 1px 5px #555;
}

.navbar.navbar-dark.affix .navbar-nav .show > .nav-link,
.navbar.navbar-dark.affix .navbar-nav .active > .nav-link,
.navbar.navbar-dark.affix .navbar-nav .nav-link.show,
.navbar.navbar-dark.affix .navbar-nav .nav-link.active {
  color: #333;
}

.navbar.navbar-dark.affix .navbar-brand {
  color: #fff;
}

.navbar.navbar-dark.affix .navbar-nav .nav-link {
  color: #fff;
}

.navbar.navbar-dark .navbar-nav .nav-link {
  color: #F8714C;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.navbar.navbar-dark .navbar-nav .nav-link:hover {
  color: #f2a900;
}

.navbar.navbar-dark .navbar-nav .active > .nav-link {
  color: #f2a900;
}

.navbar.navbar-light {
  background-color: #343a40 !important;
}

.navbar.navbar-light .navbar-nav .nav-link:hover {
  color: #f2a900;
}

.navbar.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar.navbar-light .navbar-nav .active > .nav-link {
  color: #f2a900;
}

#gallery {
  margin-bottom: 40px;
}

#gallery .item {
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
  height: 400px;
}

#gallery .item img {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

#gallery .item:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: .8;
}

.affix {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
}

.tox-notifications-container,
.tox-notification {
  display: none !important;
}

.store {
  font-size: 18px;
}

.about-us,
.contact-us {
  padding-bottom: 100px;
  padding-top: 100px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.pd-1 {
  padding: 1px !important;
}

.bg-gray-100 {
  background: #f8f9fa !important;
}

body.boholpages {
  font-family: 'Poppins', sans-serif;
}

body.boholpages .subtitle {
  margin-bottom: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #868e96;
  font-weight: bold;
}

body.boholpages .text-secondary {
  color: #e83e8c !important;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.relative {
  position: relative;
  color: white;
}

.bg-gray-200 {
  background: #e9ecef !important;
}

label {
  font-weight: bold;
}

.login {
  overflow-x: hidden !important;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.login .img-login {
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
}

.login .login-caption {
  border-radius: 30px;
  border: 3px solid #F4623A;
  background-color: #f4623a1a;
}

.login .btn-login {
  background-color: #0052ad;
  color: #fff;
}

.layout-404 {
  background-color: rgba(0, 0, 0, 0.3);
}

.layout-404 .title-error {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 1px #fff;
}

.carousel-caption h1 {
  font-size: 4rem !important;
}

.admin-content {
  font-family: "Raleway", sans-serif !important;
  font-size: 14px;
}

.notifications-list {
  left: -250px;
  height: 400px;
  overflow-y: scroll;
  font-size: 14px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  .carousel-caption {
    display: none;
  }

  .navbar-brand h3 {
    font-size: 20px;
  }

  .for-mobile {
    display: inline-block !important;
  }

  .login .login-caption {
    width: 90% !important;
  }

  .navbar.bg-dark {
    background-color: #343a40 !important;
  }

  .append-domainname {
    display: none;
  }

  .signup .btn-submit-mobile {
    display: block !important;
  }

  .signup .btn-submit-top {
    display: none;
  }
}

