
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
// Variables
$font-family-base: 'Raleway', sans-serif !important;
$line-height-base: 2;
$link-color: #f2a900;
$link-hover-decoration: none;

// Bootstrap
/* @import "~bootstrap-sass/assets/stylesheets/bootstrap"; */ 
@import "~bootstrap/scss/bootstrap";

.bg-dark {
    background-color: #343a4069 !important;
}