body {
	font-family: 'Open Sans', sans-serif;
  	line-height: 1.7;
}
.store{
  font-size: 18px;
}
.about-us, .contact-us {
	padding-bottom: 100px;
	padding-top: 100px;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.pd-1 {
	padding: 1px !important;
}

.bg-gray-100 {
    background: #f8f9fa !important;
}

body.boholpages {
  font-family: 'Poppins', sans-serif;
}

body.boholpages .subtitle {
    margin-bottom: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #868e96;
    font-weight: bold;
}
body.boholpages .text-secondary {
    color: #e83e8c !important;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.relative {
  position: relative;
  color: white;
}

.bg-gray-200 {
    background: #e9ecef !important;
}

label{
  font-weight: bold;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
  .carousel-caption {
    display: none;
  }
  .navbar-brand h3 {
    font-size: 20px;
  }
  .for-mobile {
    display: inline-block !important;
  }
}